# Only track dashboard files
*
!index.html
!newlogo.jpg
!.gitignore
!admin.html
!data.json
!csv_to_dashboard_json.py
!admin-server.py
!docs/
!docs/*.md
# Self-hosted Source Serif 4 (SIL Open Font License 1.1). Committed rather than
# loaded from a CDN so the dashboard works offline and over file://, and so no
# third-party request is made on behalf of members in the EU.
!fonts/
!fonts/*.woff2
!fonts/LICENSE.txt
# NOTE: SP Plan-SurveyExport.csv is intentionally NOT allowlisted — it contains
# respondent PII (names, emails, IPs). Keep it out of the repo.
